header {
  background-color: darkgray;
}

.nav {
  width: 960px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.nav img, .nav h2 {
  display: inline-block;
  margin: 0 auto;
  padding-right: 10px;
}

.nav h2 {
  font-size: 1em;
  position: relative;
  bottom: 27px;
  font-weight: normal;
}

main {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 20px;
}

main img {
  margin: 0 auto;
  display: inline;
}

#threeImages div {
  width: 33%;
  height: 375px;
  display: inline-block;
}

#threeImages .leftImage {
  text-align: left;
}

#threeImages .rightImage {
  text-align: right;
}

#threeImages .centerImage {
  text-align: center;
}

.photoLeftTextRight {
  height: 400px;
}

.photoLeftTextRight div, .photoLeftTextRight img {
  display: inline;
  margin: 0px;
}

.photoLeftTextRight div {
  float: right;
}

.photoLeftTextRight img {
  float: left;
}

p {
  width: 450px;
  height: 347px;
  overflow: scroll;
  display: block;
  margin: 0px;
  margin-bottom: 5px;
}

h3 {
  margin: 0px;
  margin-bottom: 5px;
}

button {
  display: block;
}

button:hover {
  color: red;
}

footer {
  height: 70px;
  background-color: #DDD;
}